<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isLoggedIn" routerLink="/login">Iniciar Sesión</ion-button>
      <ion-button *ngIf="isLoggedIn && isAdmin" routerLink="/register">Registrar Usuario</ion-button>
      <ion-button *ngIf="isAdmin" routerLink="/users">Gestión de Usuarios</ion-button>
      <ion-button *ngIf="isLoggedIn" (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-section">
    <h1>Bienvenido a la Comunidad Plaza Condell</h1>
    <p *ngIf="!isLoggedIn">Seleccione una opción para continuar:</p>

    <!-- Botón para descargar el certificado (solo visible para clientes) -->
    <ion-button *ngIf="isCliente" expand="full" routerLink="/certificado">Descargar Certificado</ion-button>

    <!-- Botón para reservar el gimnasio (solo visible para clientes) -->
    <ion-button *ngIf="isCliente" expand="full" routerLink="/gym-reservation">Reservar Gimnasio</ion-button>
  </div>
</ion-content>
