<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Iniciar Sesión</ion-button>
      <ion-button routerLink="/register">Registrar Cuenta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-section">
    <h1>Bienvenido a Comunidad Plaza Condell </h1>
    <p>Seleccione una opción para continuar:</p>
  </div>


  <!-- Aquí puedes agregar más secciones o contenido adicional -->
</ion-content>
